@(quotes: Seq[models.Quote])

@layout {
    <div class="row">
        <form id="search" action="@routes.Pilcrows.search" method="get">
            <input type="text" placeholder="Search entries" name="query"/>
            <div class="buttons">
                <button type="submit" title="Search"><i class="fa fa-search fa-fw"></i></button>
                <a href="@routes.Pilcrows.create"><i class="fa fa-plus"></i></a>
            </div>
        </form>
    <div>
    @quotes.map { quote =>
        <div class="row">
            <a href="@routes.Pilcrows.view(quote.id)">
                <div class="display">@quote.quote</div>
                <div class="display attribution">- @quote.attributedTo, @quote.year</div>
            </a>
        </div>
    }
}