@(content: Html)

<!doctype html>
<html>
	<head>
        <link href='//fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
	</head>
    <body>
        <header>
            <h1><a href="@routes.Pilcrows.index">pilcrows</a></h1>
        </header>
		@content
	</body>
</html>