@(quotes: List[models.Quote])

@layout {
    <div class="row">
        <form id="search" action="@routes.Pilcrows.search()" method="get">
            <input type="text" placeholder="Search entries" name="query"/>
            <div class="buttons">
                <button type="submit" title="Search"><i class="fa fa-search fa-fw"></i></button>
                <a href="@routes.Pilcrows.create()"><i class="fa fa-plus"></i></a>
            </div>
        </form>
    <div>
    @for(quote <- quotes) {
        <div class="row">
            <a href="@routes.Pilcrows.view(quote.getId())">
                <div class="display">@quote.getQuote()</div>
                <div class="display attribution">- @quote.getAttributedTo(), @quote.getYear()</div>
            </a>
        </div>
    }
}